
/*@import url(//fonts.googleapis.com/css?family=Raleway:300,400,700);*/
@import url('https://fonts.googleapis.com/css?family=Cagliostro|Hind+Siliguri');
/*@import url(app//css//button.css);*/
/*@import url(app//css//default.css);*/
/*@import url(app//css//fancybox.css);*/
/*@import url(app//css//grid-responsive.css);*/
/*@import url(app//css//magento.css);*/
/*@import url(app//css//print.css);*/
/*@import url(app//css//retina.css);*/
/*@import url(app//css//skin.css);*/
/*@import url(app//css//styles.css);*/
/*@import url(app//css//widgets.css);*/
/*@import url(app//css//header.css);*/

.main-container{
    padding-top:2%;
    padding-bottom:8%;
}
body {
    background-color: #ffffff;
    /*font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    font-weight: normal;
    position: relative;
    /*	overflow-x: hidden;*/
}
a {
    color: #ad9268;
    text-decoration:none!important;
}

    a:hover {
        color: #9f865e;
    }


/*header*/

.no-js #loader, .no-js .se-pre-con {
    display: none !important;
}

.js #loader {
    display: block;
    position: absolute;
    left: 100px;
    top: 0;
}

.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background: url(../images/loader.gif) center no-repeat #fff;
}


html {
    /*margin-top: 1px;*/
    /*background: #231f20;*/
    /*font-family: 'Cagliostro', 'Hind Siliguri';*/
}


#site-header {
    text-align: center;
    width: 100%;
    /*padding-bottom: 20px;*/
}




img {
    height: auto; /* Make sure images are scaled correctly. */
    max-width: 100%; /* Adhere to container width. */
    border: none;
}

a {
    text-decoration: none;
}

    a:hover, a:focus {
        text-decoration: none;
    }

.wrapper {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    float: left;
    max-width: 100%;
    background-color: #f6f6f6;
}

.customize-container {
    width: 1230px;
}

.search_box input.input-text {
    max-width: 200px;
}

/*Sticky menu*/
@media(min-width:768px) {
    .sticky-header {
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 9999;
    }

        .sticky-header nav.customize-menu {
            height: 30px;
            margin-top: 3em;
        }

        .sticky-header .top_header {
            height: auto;
            padding: 0;
        }

        .sticky-header .customize-menu {
            padding-top: 0;
            margin: 0;
        }

            .sticky-header .customize-menu .menu {
                margin-bottom: 0;
            }

            .sticky-header .customize-menu > ul > li > a {
                padding: 5px 5px 10px 5px;
            }

        .sticky-header .sticky-hide {
            display: none;
        }

        .sticky-header .header_right {
            width: 20%;
        }

        .sticky-header .sub-menu,
        .sticky-header .menu {
            top: 33px;
        }

        .sticky-header .search_box {
            position: absolute;
            top: -4px;
            right: 120px;
        }

        .sticky-header .language_selector {
            display: none;
        }
}


.top_header {
    width: 100%;
    margin: 0;
    padding: 15px 0;
    max-width: 100%;
    height: auto;
    /*background-color: #1f1f1f;*/
    border-top: 1px solid #00BEE0;
}

.logo {
    width: 15%;
    padding-top: 10px;
    float: left;
}

    .logo h1 {
        color: #00BEE0;
    }

    .logo h6 {
        color: #bbb;
        font-style: italic;
    }

.header_right {
    width: 20%;
    height: auto;
    margin: 0;
    padding: 0;
    float: right;
}

.customize-menu {
    width: 79%;
    margin: 0;
    padding: 0px 0;
    float: left;
    position: relative;
    z-index: 50;
}

    .customize-menu > ul {
        float: right;
        padding: 0;
        text-align: center;
    }

        .customize-menu > ul li:hover > ul {
            display: block;
        }

        .customize-menu > ul > li {
            display: inline-block;
            position: relative;
        }

    .customize-menu ul li a {
        border: 1px solid rgba(0,0,0,0);
        color: #ffffff;
        display: inline-block;
        padding: 10px 20px;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: normal;
        letter-spacing: 2px;
    }

        .customize-menu ul li a:hover, .customize-menu ul li a:focus, .customize-menu ul li.current-menu-item a, .customize-menu ul li.current_page_item a {
            color: #06a1bd;
            //border: 1px solid #7e7e7e;
            border-radius: 3px;
        }

    .customize-menu > ul li > ul {
        display: none;
        margin: 0;
        padding: 0px;
        position: absolute;
        top: 41px;
        z-index: 9;
        border: 1px solid #7e7e7e;
        border-radius: 3px;
        background-color: #2d2d2d;
    }

        .customize-menu > ul li > ul li {
            list-style: none;
            min-width: 160px;
            text-align: left;
            position: relative;
        }

        .customize-menu > ul li > ul ul {
            left: 100%;
            position: absolute;
            top: 0;
        }

        .customize-menu > ul li > ul li a {
            background-repeat: no-repeat;
            background-position: 10px 15px;
            padding: 5px 15px 5px 25px;
            text-transform: capitalize;
            width: 100%;
        }

            .customize-menu > ul li > ul li a:hover, .customize-menu > ul li > ul li.current-menu-item a, .customize-menu > ul li > ul li.current_page_item a {
                border: 1px solid rgba(0,0,0,0)
            }

.icon-color {
    background-color: #00bee0;
}

.search_box {
    width: 50%;
    height: 12px;
    margin: 0;
    padding-top: 10px;
    float: right;
    position: relative;
}

.mage-header.no-switch-lang .search_box {
    height: 18px;
    padding-top: 0;
}

.sticky-header.mage-header.no-switch-lang .search_box {
    padding-top: 10px;
}

.search_box .input-box {
    float: none;
}

.search_box input {
    width: 100%;
    height: 34px;
    color: #FFF;
    padding-left: 5px;
    border-radius: 3px;
    background-color: transparent;
    border: none;
}

    .search_box input[type="button"] {
        background: none;
        margin-left: -28px;
        width: 25px;
        cursor: pointer;
        position: absolute;
        float: right;
        top: 6px;
        right: 5px;
    }



.customize-breadcrumb {
    z-index: 6;
    position: relative;
    top: 0;
    margin: -20px 0 0px;
    height: 50px;
    margin-top: -2px;
    padding: 20px 0 0 20px;
    font-size: 14px;
    font-style: italic;
    /*font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
}

    .customize-breadcrumb strong {
        color: #b3b3b3;
        font-weight: normal;
    }

    .customize-breadcrumb .separator {
        padding: 0 3px;
    }

    .customize-breadcrumb ol,
    .customize-breadcrumb ul {
        margin: 0;
        padding: 0;
        font-size: 12px;
        text-align: left;
        color: #cccccc;
        font-style: italic;
    }

        .customize-breadcrumb ol li {
            display: inline-block;
            color: #706d6e;
            text-transform: capitalize;
        }

    .customize-breadcrumb a {
        color: #706d6e;
    }




@media (max-width:1250px) {
    .customize-container {
        width: auto;
    }
}

@media (max-width:991px) {
    .customize-container {
        width: auto;
    }

    .logo {
        width: 100%;
        position: relative;
    }


    .header_right {
        width: 20%;
        position: relative;
    }
}

@media screen and (max-width: 767px) {
    .tagcloud {
        text-align: center;
        padding-left: 7px;
    }

    .customizable-home-icom .back-icon {
        width: 24%;
    }

    .logo img {
        display: inline !important;
    }
    /* nav-wrap */
    .menu-wrap {
        position: relative;
    }

        .menu-wrap * {
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }
    /* menu icon */
    #menu-trigger {
        cursor: pointer;
        display: block;
        height: auto;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    /* main nav */
    .customize-menu {
        margin: 0px auto;
        padding: 0 !important;
        position: absolute;
        top: 50px;
        width: 100%;
        z-index: 9;
        background-color: #000000;
        display: none;
        width: 100%;
        max-height: none;
        border-radius: 0;
    }

        .customize-menu:after {
            display: none;
        }

        .customize-menu > ul li > ul {
            position: relative;
            background: none;
            border: none;
            padding: 0 !important;
            left: 0;
            top: 0;
        }

            .customize-menu > ul li > ul li {
                border-top: 1px solid #303030;
            }

        .customize-menu > ul > li {
            border-bottom: 1px solid #303030;
        }

        .customize-menu > ul li > ul li a {
            padding: 10px 15px 10px 20px;
        }

        .customize-menu ul {
            position: static;
            visibility: visible;
            opacity: 1;
            margin: 0;
            background: none;
            border: none;
        }

        .customize-menu li {
            position: static;
            display: block;
            float: none;
            border: 0;
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
            box-shadow: none;
            text-align: left;
            width: 100%;
            padding-top: 3px;
        }

        .customize-menu > ul li > ul {
            display: block;
        }

        .customize-menu ul li a {
            width: 100%;
        }

            .customize-menu ul li a:hover {
                border: 1px solid rgba(0,0,0,0);
            }
}

@media screen and (min-width: 767px) {
    .customize-menu {
        display: block !important;
    }
}

@media (max-width:690px) {
    .logo {
        text-align: center;
    }

    .search_box {
        margin: 0 auto;
    }
}

@media screen and (max-width: 600px) {

    .rslides_nav {
        top: 47%;
    }

    .customize-breadcrumb h1 {
        font-size: 21px;
    }

    .customize-breadcrumb ol {
        font-size: 14px;
    }

    .header_right {
        width: 20%;
    }
}

@media(min-width:320px) and (max-width:340px) {
    .customizable-home-icom .back-icon {
        width: 30%;
    }

        .customizable-home-icom .back-icon img {
            margin-right: 7px !important;
        }
}

@media(min-width:480px) and (max-width:600px) {
    .customizable-home-icom .back-icon {
        width: 17%;
    }
}

@media(min-width:500px) and (max-width:600px) {
    .customizable-home-icom .back-icon {
        width: 13%;
    }
}

@media(min-width:601px) and (max-width:767px) {
    .customizable-home-icom .back-icon {
        width: 11%;
    }
}

@media(min-width:768px) and (max-width:1024px) {
    .download-theme .btn-group {
        float: right;
    }

    .customize-menu > ul {
        margin-top: 15px;
        text-align: left;
    }

        .customize-menu > ul > li {
            margin-bottom: 5px;
        }

    .logo {
        width: 30% !important;
    }
}

.top_header {
    padding: 0;
    background: #231f20;
    /*position: relative;
    z-index: 9999;*/
    border-top: 0 !important;
}

    .top_header:before {
        content: "";
        position: absolute;
        bottom: -20px;
        width: 100%;
        height: 20px;
        background-image: linear-gradient(-145deg, #231f20 5px, transparent 6px), linear-gradient(145deg, #231f20 5px, transparent 6px);
        background-size: 10px 10px;
        background-repeat: repeat-x;
    }

.mobileLogo {
    padding-top: 35px;
    display: initial;
    margin: auto;
}


/*
	MOBILE NAV
*/
.container > .navbar-header {
    margin-right: 0;
    margin-left: 10px;
}

/* ====================== lines button ==========*/
.lines-button {
    transition: .3s;
    cursor: pointer;
    user-select: none;
    padding: 10px;
    height: 100%;
    /* */
}

    .lines-button:hover {
        opacity: 1;
    }

    .lines-button:active {
        transition: 0;
    }

.lines, .lines:before, .lines:after {
    display: inline-block;
    width: 25px;
    height: 2px;
    background: #ffffff;
    transition: 0.3s;
    position: relative;
}

    .lines:before, .lines:after {
        display: inline-block;
        position: absolute;
        left: 0;
        content: '';
        -webkit-transform-origin: 0.28571rem center;
        transform-origin: 0.28571rem center;
    }

    .lines:before {
        top: 6px;
    }

    .lines:after {
        top: -5px;
    }

.lines-button.open {
    -webkit-transform: scale3d(0.8, 0.8, 0.8);
    transform: scale3d(0.8, 0.8, 0.8);
}

.lines-button.x.open .lines {
    background: transparent;
}

    .lines-button.x.open .lines:before, .lines-button.x.open .lines:after {
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        top: 0;
        width: 30px;
    }

    .lines-button.x.open .lines:before {
        -webkit-transform: rotate3d(0, 0, 1, 45deg);
        transform: rotate3d(0, 0, 1, 45deg);
    }

    .lines-button.x.open .lines:after {
        -webkit-transform: rotate3d(0, 0, 1, -45deg);
        transform: rotate3d(0, 0, 1, -45deg);
    }


.customize-menu img {
    margin-top: -30px;
    display: inline;
    width: auto;
}

.customize-menu .menu {
    margin: 0;
    float: none;
}

.customize-menu > ul li > ul {
    border: 0px;
    background-color: #231f20;
    opacity: .95;
    white-space: nowrap;
}

.customize-menu {
    width: 100%;
    margin-top: 4em;
}

    .customize-menu > ul li > ul li a {
        text-transform: uppercase;
    }

        .customize-menu > ul li > ul li a:hover, .customize-menu > ul li > ul li:nth-child(3) a:hover {
            width: 100%;
        }

            .customize-menu > ul li > ul li a:hover:before,
            .customize-menu > ul li > ul li:nth-child(3) a:hover:before {
                content: "";
                width: 3px;
                height: 100%;
                background: #ad9268;
                position: absolute;
                left: 0;
                top: 0;
            }


    .customize-menu ul li a:hover, .customize-menu ul li a:focus, .customize-menu ul li.current-menu-item a, .customize-menu ul li.current_page_item a {
        color: #ad9268;
        transition: color 350ms ease;
    }

    .customize-menu ul li.current_page_item li a {
        color: #ffffff;
        transition: color 350ms ease;
    }


    .customize-menu > ul > li {
        margin-bottom: 0;
        padding-left: 1em;
        padding-right: 1em;
    }

@media screen and (max-width: 767px) {
    .customize-menu {
        left: 0px;
        top: 135px;
        z-index: -1;
    }

        .customize-menu > ul > li:first-child {
            padding-top: 10px;
        }
}

@media only screen and (max-width: 1025px) {
    .customize-menu > ul > li {
        padding-left: 0.05em;
        padding-right: 0.05em;
    }
}

@media only screen and (max-width: 940px) {
    .customize-menu > ul > li > a {
        padding: 10px;
    }
}

.header_right {
    position: absolute;
    right: 20px;
    text-align: right;
    width:20%;
}


.header_left {
    z-index: 9999;
    position: absolute;
    left: 20px;
}

.header-group {
    display: block;
}

.top-links a, .welcome-user {
    color: #918f90;
    font-size: 14px;
    font-style: italic;
    padding-left:10px;
    /*font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
}

.welcome-user {
    color: #ffffff;
}

.top-links .links {
    display: inline-block;
}

    .top-links .links ul {
        padding: 0;
        margin: 0;
    }

        .top-links .links ul li {
            display: inline-block;
            padding: 0 5px;
            border-left: 1px solid #4A4444;
        }

            .top-links .links ul li.first {
                padding-left: 0;
                border-left: none;
            }

.language_selector {
    float: right;
}

.language_selector {
    padding-top: 10px;
}

.search-button {
    color: white;
    position: absolute;
    right: 5px;
    line-height: 1.5em;
    cursor: pointer;
    z-index: 9;
}

.mage-header .search-button {
    right: 0;
}

.search_box input[type="submit"] {
    width: 30px;
    display: none;
    position: absolute;
    right: 0;
    background: transparent;
}

.search_box input {
    height: 26px;
    width: 0px;
    padding: 0;
    float: right;
    transition: width 350ms ease;
}

    .search_box input[type="button"] {
        top: 0px;
    }

    .search_box input.active {
        width: 100%;
        padding-left: 5px;
    }

    .search_box input[type="search"] {
        background-color: #333 !important;
    }



.logo {
    display: none;
}


#lang_sel a {
    background: #2e2a2b;
    color: #bebdbe;
    /*font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    font-weight: bold;
    font-size: 10px;
    text-transform: uppercase;
    border: 0;
}

#lang_sel ul ul {
    border-top: 0px;
}

.navbar-toggle {
    padding-right: 25px;
}

.side_bar {
    display: none;
}

.social-icon a {
    color: #918f90;
    line-height: 2.2em;
    font-size: 14px;
    margin-right: 20px;
    transition: color 350ms ease;
    /*font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    font-style: italic;
}

    .social-icon a:hover {
        color: #ad9268;
    }



/*
	LANGUEAGE SWITCHER FROM MAGENTO
*/

.language_selector select {
    background: #2e2a2b;
    color: #bebdbe;
    /*font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    font-weight: bold;
    font-size: 10px;
    text-transform: uppercase;
    padding: 2px 5px;
    margin-left: 20px;
    border: 0;
}

    .language_selector select option {
        padding: 5px;
    }

.search_box input {
    height: 20px;
}

.header_left {
    margin-top: -1px;
}


.cart-top {
    display: inline-block;
    padding-top: 6px;
    color: #ffffff;
}

.fa-shopping-cart {
    padding-right: 5px;
    color: #ffffff;
}

.cart-popup {
    top: 25px;
    right: 0;
    position: absolute;
    z-index: 5;
    text-align: left !important;
}

    .cart-popup:before {
        content: "";
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid white;
        position: absolute;
        right: 30px;
        top: 0;
    }

.cart-popup-content {
    width: 310px;
    padding: 14px 20px 6px;
    background: #ffffff;
    margin-top: 7px;
    border: 1px solid #D6D6D6;
    border-top: none;
}


.cart-popup .price {
    font-size: 14px !important;
    font-weight: bold;
}

.checkout-button {
    /*margin-top: 10px;*/
    background-color: #231f20;
    border: 1px solid #fff;
    font-weight: bold;
    color: #fff;
    font-size: 11px;
    padding: 8px 18px;
    text-transform: uppercase;
    height: 35px;
    cursor:pointer;
}

#lang_sel li, #lang_sel ul {
    width: 95px !important;
}

#lang_sel a {
    height: 17px !important;
    line-height: initial;
    padding: 5px 10px;
}

/*WP lang selector IE*/
.ie #lang_sel a {
    padding: 0px 10px !important;
}

.ie #lang_sel ul ul {
    top: 18px;
}


a.lang_sel_sel, #lang_sel a {
    background-color: #2e2a2b !important;
    text-align: left;
}

#lang_sel li a {
    color: #bebdbe !important;
}

#lang_sel ul ul {
    top: 15px;
    z-index: 10;
}

#lang_sel {
    height: initial;
    margin-left: 20px;
}


.top-links .links li a:before {
    color: #ffffff !important;
    font-style: normal !important;
    content: "\2665";
    font-size: 20px;
    vertical-align: middle;
}

#lang_sel a.lang_sel_sel {
    background: url(../images/dropdown-arrow.gif) right no-repeat;
}

#lang_sel_click a.lang_sel_sel, #lang_sel_click a.lang_sel_sel:focus {
    color: #bebdbe;
    text-transform: uppercase;
}

#lang_sel_click a, #lang_sel_click a:visited {
    border: 0;
}


@media only screen and (max-width: 767px) {
    .header_right .top-links {
        margin-top: 30px;
    }
}
@media only screen and (max-width: 800px){
    .top_header{
        height:200px;
    }
}


@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
    .customize-menu ul li a {
        font-size: 12px;
    }

    #lang_sel_click {
        height: 21px !important;
    }
}

/* Styles customs */
.size-link {
    line-height: 30px;
    text-decoration: underline;
    text-transform: uppercase;
    display: inline-block;
    color: #ad9268;
    /*font-family: "Raleway", "Helvetica Neue", Verdana, Arial, sans-serif;*/
    font-size: 14px;
    vertical-align: middle;
    padding-right: 5px;
}

@media only screen and (max-width: 410px) {

    .size-link {
        width: 100%;
    }
}

/*footer*/

/*------------------------FOOTER------------------------------- */

.full {
    width: 100%;
}

.gap {
    height: 30px;
    width: 100%;
    clear: both;
    display: block;
}

.footer {
    color: #ffffff;
    background: #231f20;
    height: auto;
    padding-bottom: 30px;
    position: relative;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #DDDDDD;
}

    .footer p {
        margin: 0;
    }

    .footer img {
        max-width: 100%;
    }

    .footer h3 {
        border-bottom: 1px solid #BAC1C8;
        color: #54697E;
        font-size: 18px;
        font-weight: 600;
        line-height: 27px;
        padding: 40px 0 10px;
        text-transform: uppercase;
    }

    .footer ul {
        font-size: 13px;
        list-style-type: none;
        margin-left: 0;
        padding-left: 0;
        margin-top: 15px;
        color: #7F8C8D;
    }

        .footer ul li a {
            padding: 0 0 5px 0;
            display: block;
        }

    .footer a {
        color: #78828D
    }

.supportLi h4 {
    font-size: 20px;
    font-weight: lighter;
    line-height: normal;
    margin-bottom: 0 !important;
    padding-bottom: 0;
}

.newsletter-box input#appendedInputButton {
    background: #FFFFFF;
    display: inline-block;
    float: left;
    height: 30px;
    clear: both;
    width: 100%;
}

.newsletter-box .btn {
    border: medium none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    display: inline-block;
    height: 40px;
    padding: 0;
    width: 100%;
    color: #fff;
}

.newsletter-box {
    overflow: hidden;
}

.bg-gray {
    background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);
    box-shadow: 0 1px 0 #B4B3B3;
}

.social li {
    background: none repeat scroll 0 0 #B5B5B5;
    border: 2px solid #B5B5B5;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    float: left;
    height: 36px;
    line-height: 36px;
    margin: 0 8px 0 0;
    padding: 0;
    text-align: center;
    width: 36px;
    transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
}

    .social li:hover {
        transform: scale(1.15) rotate(360deg);
        -webkit-transform: scale(1.1) rotate(360deg);
        -moz-transform: scale(1.1) rotate(360deg);
        -ms-transform: scale(1.1) rotate(360deg);
        -o-transform: scale(1.1) rotate(360deg);
    }

    .social li a {
        color: #EDEFF1;
    }

    .social li:hover {
        border: 2px solid #2c3e50;
        background: #2c3e50;
    }

    .social li a i {
        font-size: 16px;
        margin: 0 0 0 5px;
        color: #EDEFF1 !important;
    }

.footer-bottom {
    background: #E3E3E3;
    border-top: 1px solid #DDDDDD;
    padding-top: 10px;
    padding-bottom: 10px;
}

    .footer-bottom p.pull-left {
        padding-top: 6px;
    }

.payments {
    font-size: 1.5em;
}
/*custom*/
/* Styles customs */
.size_link {
    line-height: 30px;
    text-decoration: underline;
    text-transform: uppercase;
    display: inline-block;
    color: #ad9268;
    /*font-family: "Raleway", "Helvetica Neue", Verdana, Arial, sans-serif;*/
    font-size: 14px;
    vertical-align: middle;
    padding-right: 5px;
}

@media only screen and (max-width: 410px) {

    .size_link {
        width: 100%;
    }
}


.form-action--disabled {
    cursor: not-allowed;
    pointer-events: none;
    opacity: .5;
}


/*login and register popup*/


.login .division {
    float: none;
    margin: 0 auto 18px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%;
}

    .login .division .line {
        border-top: 1px solid #DFDFDF;
        position: absolute;
        top: 10px;
        width: 34%;
    }

        .login .division .line.l {
            left: 0;
        }

        .login .division .line.r {
            right: 0;
        }

    .login .division span {
        color: #424242;
        font-size: 17px;
    }

.login .box .social {
    float: none;
    margin: 0 auto 30px;
    text-align: center;
}

.login .social .circle {
    background-color: #EEEEEE;
    color: #FFFFFF;
    border-radius: 100px;
    display: inline-block;
    margin: 0 17px;
    padding: 15px;
}

.login .btn-login, .registerBox .btn-register {
    background-color: #00BBFF;
    border-color: #00BBFF;
    border-width: 0;
    color: #FFFFFF;
    display: block;
    margin: 0 auto;
    padding: 15px 50px;
    text-transform: uppercase;
    width: 100%;
}

    .login .btn-login:hover, .registerBox .btn-register:hover {
        background-color: #00A4E4;
        color: #FFFFFF;
    }

.login .form-control {
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.09);
    box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.09) inset;
    color: #FFFFFF;
}

    .login .form-control:hover {
        background-color: rgba(0,0,0,.16);
    }

    .login .form-control:focus {
        box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.04) inset;
        background-color: rgba(0,0,0,0.23);
        color: #FFFFFF;
    }

.login .box .form input[type="text"], .login .box .form input[type="password"] {
    border-radius: 3px;
    border: none;
    color: #333333;
    font-size: 16px;
    height: 46px;
    margin-bottom: 5px;
    padding: 13px 12px;
    width: 100%;
}

.expand-textbox {
    width: 100px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

    .expand-textbox:focus {
        width: 80%;
    }

.modal {
    top: 10%;
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: auto;
    /*width:90%;*/
}

.modal-content {
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
    /*width:90%;*/
}


.modal-footer {
    border-top: 0;
    margin-top: 0px;
    padding: 10px 20px 20px;
}

.modal-header {
    /*border: 0 none;
    padding: 15px 15px 15px;*/
    /*     padding: 11px 15px; */
}

.modal-body {
    /*     background-color: #eeeeee; */
    /*width: 90%;*/
}
.form-control {
    border-radius: 0px !important;
    /*border: 1px!important;*/
}
.form-control:focus{
    border: 1px solid #00BEE0 !important;
}
.btn {
    border-radius: 0px!important;
}
.home-main{
    padding: 5% 0 5% 0%;
}
.home-banner {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
}
.input-text {
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    border: none;
    height: 30px;
    background: #ededed;
}

    /*.input-text:focus {
        border: 1px solid #3399cc;
    }*/

.qty {
    width: 50px;
}
.home-banner-main{
    height:10%;
    width:100%;
}
.handtool{
    cursor:pointer;
}