<div *ngIf="!useraddress">
    <loading message="Loading addresses"></loading>
</div>
<div *ngIf="useraddress" class="container home-main">
    <ng-container *ngFor="let addr of useraddress;let index = index">
            <div class="address-box options" title="Click to select">
                <input type="radio" id="selectaddress{{index}}" name="selectaddress" value="all"
                       [(ngModel)]="Order.AddressID" [value]="addr.AddressID" (change)="selectAddress()">
                <label class="handtool" style="width:100%;" for="selectaddress{{index}}">
                    <div class="ac-addr-box">
                        <div class="row add-type-box">
                            <div class="col-md-9">
                                <span class="add-type">{{addr.AddressType}}</span>
                            </div>
                            <div class="col-md-3">

                                <div class="dropdown pull-right">
                                    <a class="btn btn-info dropdown-toggle" href="javascript:void(0)" data-toggle="dropdown" data-popout="true" aria-haspopup="true" aria-expanded="false">
                                    </a>

                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                        <a class="dropdown-item" href="">Edit</a>

                                        <a class="dropdown-item handtool">Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="add-name">
                            <strong>{{addr.FirstName}}</strong>
                            <strong>{{addr.PhoneNumber}}</strong>

                        </div>
                        <div class="add-line">
                            <p class="">{{addr.AddressLine1}},{{addr.AddressLine2}},{{addr.City +' - '+ addr.PostalCode}},{{addr.State}}</p>
                        </div>
                    </div>
                </label>

                <!--<input type="radio" name="selectaddress"  />-->
                <!--<label class="radio-container">
                    
                    <input type="radio" name="selectaddress" [(ngModel)]="Order.AddressID" [value]="addr.AddressID">
                    <img />
                    <button *ngIf="Order.AddressID" [routerLink]="['/cart/checkout/payment']" class="btn btn-primary pull-right">Continue</button>
                </label>-->
            </div>
    </ng-container>
    <div class="row" style="padding-top:50px;">
        <div class="col-md-6 col-sm-6"><button [routerLink]="['/cart']" class="btn btn-dark pull-left">Back</button></div>
        <div class="col-md-6 col-sm-6"><button [routerLink]="['/cart/checkout/review']" class="btn btn-success pull-right">Next</button></div>
    </div>
</div>


