    <div class="ac-box">
        <div class="row">
            <div class="col-md-12 stepwizard-step">
                <button type="button" routerLinkActive="btn-glow-primary"
                        class="btn btn-primary">
                    <i class="fa fa-address-book fa-2x"></i>

                </button>
                <p>Address</p>
            </div>
            <div class="col-md-12 stepwizard-step">
                <button type="button" routerLinkActive="btn-glow-info"
                        class="btn btn-info">
                    <i class="fa fa-eye fa-2x"></i>
                </button>
                <p>Review</p>
            </div>
            <div class="col-md-12 stepwizard-step">
                <button type="button" routerLinkActive="btn-glow-success"
                        class="btn btn-success">
                    <i class="fa fa-paypal fa-2x"></i>
                </button>
                <p>Payment</p>
            </div>

            <div class="col-md-12 stepwizard-step">
                <button type="button" routerLinkActive="btn-glow-secondary"
                        class="btn btn-secondary">
                    <i class="fa fa-check-square fa-2x"></i>
                </button>
                <p>Complete</p>
            </div>
        </div>
    </div>

