<div class="main-container">
    <div *ngIf="statusMessage" class="alert alert-success"><strong>{{statusMessage}}</strong></div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-md-5">
            <div class="product-box prod-img-box" *ngIf="images">
                <img [attr.id]="'image-'+index"
                     *ngFor="let img of images;let index=index"
                     [ngClass]="index == 0 ? visible : 'prod-img-hide'"
                     class="gallery-image" src="{{img.ImageUrl}}" />

            </div>

            <div class="product-box">
                <a *ngFor="let img of images;let index=index" class="thumb-link handtool" (click)="displayImage(index)">
                    <img src="{{img.ImageUrl}}" width="75" height="75" alt="">
                </a>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <button style="width:100%;" class="btn btn-success" (click)="buyNow(product);">BUY NOW</button>
                </div>
                <div class="col-md-6">
                    <button style="width:100%;" class="btn btn-primary" (click)="addToCart(product);">ADD TO CART</button>
                </div>
                
            </div>
            <div class="row" style="padding-top:10px;">
                <div role="alert" id="alertAddCart" class="alert alert-info collapse text-center">
                    <strong>Successfully added to cart</strong>
                </div>
            </div>

        </div>
        <!--<div *ngFor="let img of prodlist;let index=index">
            <img src="data:image/gif;base64,{{img.LargePhoto}}"/>
        </div>-->
        <div class="col-md-5" *ngIf="product">
            <div class="product-box">
                <div [innerHTML]="product.ProductShortDesc" class="product-subtitle"></div>
                <div class="product-name">
                    <span [innerHTML]="product.ProductName" class="h1"></span>
                </div>
                <!--[innerHTML]="product.ProductLongDesc"-->
                <div class="row info-box">
                    <div class="col-md-2 info-box-label">
                        Highlights
                    </div>
                    <div class="col-md-10">
                        <div [innerHTML]="product.ProductLongDesc"></div>
                    </div>
                </div>
                <div class="row info-box">
                    <div class="col-md-2 info-box-label">
                        Delivery
                    </div>
                    <div class="col-md-10">
                        <div><check-pincode (address)="checkPin($event)" (delCharge)="getDeliveryCharge($event)"></check-pincode></div>
                        <div style="font-weight:bold;">
                            Delivery in
                            <span>2 days, Saturday</span>
                            <span style="margin: 0 4px 0 5px;color: #c2c2c2;">|</span>
                            <span style="color:#388e3c;">{{delCharge | currency:'INR':'symbol'}}</span>

                        </div>
                    </div>
                </div>
                <div class="row info-box">
                    <div class="col-md-2 info-box-label">
                        Price
                    </div>
                    <div class="col-md-10">
                        <strong class="price fa-2x">{{product.ProductPrice | currency:'INR':'symbol'}}</strong>
                    </div>
                </div>
                <!--<div class="cart-info row">
                    <div class="col-md-2">
                        <input id="prodqty" class="input-text qty" type="text" maxlength="12" value="1" pattern="\d*">
                    </div>
                    <div class="col-md-6">
                        <button (click)="addToCart(product);" type="button" title="Add to Cart" class="checkout-button">
                            Add to Cart
                        </button>
                    </div>
                </div>-->

                <div class="row info-box">
                    <div class="col-md-2 info-box-label">
                        Share
                    </div>
                    <div class="col-md-10">
                        <div class="sharing-links">
                            <div class="social-icon">
                                <a href="#" target="_blank">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a href="#" target="_blank">
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a href="#" target="_blank">
                                    <i class="fa fa-pinterest"></i>
                                </a>
                                <a href="#" target="_blank">
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wish-info">
                    <a *ngIf="!_storeService.presentInWishlist(product.ProductID)" (click)="clickWish(product)"
                       class="handtool"><i class="fa fa-heart-o">&nbsp;</i>Add to wishlist</a>
                    <a *ngIf="_storeService.presentInWishlist(product.ProductID)" (click)="clickWish(product)"
                       class="handtool"><i class="fa fa-heart text-danger">&nbsp;</i>Remove from wishlist</a>

                </div>


                <div role="alert" id="alertWishAdd" class="alert alert-success collapse">
                    <strong>Added to wishlist</strong>
                </div>
                <div role="alert" id="alertWishRemove" class="alert alert-success collapse">
                    <strong>Removed from wishlist</strong>
                </div>
                <div class="zigzagBlk">&nbsp;&nbsp;</div>
                <!--[innerHTML]="product.ProductCartDesc"-->
                <div class="sharing-links" [innerHTML]="product.ProductCartDesc">
                </div>
            </div>
        </div>
        <div class="col-1"></div>
    </div>

</div>
