<login-popup></login-popup>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <img src="https://s3.ap-south-1.amazonaws.com/elasticbeanstalk-ap-south-1-412611335750/dhonni-meye.png" width="270" height="36">
    </a>
    <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#navb" aria-expanded="false">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="navb" style="">
        <ul class="navbar-nav mr-auto social-icon">
            <li class="nav-item">
                <a href="#" target="_blank">
                    <i class="fa fa-facebook"></i>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" target="_blank">
                    <i class="fa fa-twitter"></i>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" target="_blank">
                    <i class="fa fa-pinterest" aria-hidden="true"></i>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" target="_blank">
                    <i class="fa fa-instagram"></i>
                </a>
            </li>
            <li class="nav-item">
                <a href="#">Contact</a>
            </li>

            <li class="nav-item">
                <a (click)="wishPopup();" id="wishLink" href="javascript:void(0);" title="Wishlist">
                    <i class="fa fa-heart"></i><span>&nbsp;{{_storageService.getWishCount()}}</span>
                </a>
            </li>
            <li class="nav-item">
                <a (click)="cartPopup();" id="cartLink" title="Your Cart" href="javascript:void(0)">
                    <i class="fa fa-cart-arrow-down"></i><span>&nbsp;{{_storageService.getCartCount()}}</span>
                </a>
            </li>
        </ul>
        <div class="social-icon">
            <a *ngIf="!access_token" data-toggle="modal" href="javascript:void(0)" onclick="openLoginModal();">
                Login
            </a>
            <div *ngIf="access_token" class="dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" href="javascript:void(0)" data-toggle="dropdown">
                    {{user.FirstName}}
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a href="javascript:void(0)" class="dropdown-item" (click)="logout();">Logout</a>
                    <a href="javascript:void(0)" class="dropdown-item" (click)="account()">View profile</a>
                </div>
            </div>

        </div>
        <form class="form-inline my-2 my-lg-0">
            <!--<input class="form-control mr-sm-2" type="text" placeholder="Search" autocomplete="off">-->

            <input placeholder="Search" class="form-control mr-sm-2" type="text" name="search" (click)="openSearch()" />

            <!--<button class="btn btn-success my-2 my-sm-0" type="button">Search</button>-->
        </form>
        <div id="myOverlay" class="overlay">
            <span class="closebtn" (click)="closeSearch()" title="Close Overlay">x</span>
            <div class="overlay-content">
                <form id="searchform">
                    <input placeholder="Search" class="form-control" *ngIf="flag" type="text" [(ngModel)]="ProdName" (keyup)="searchProd(ProdName)"
                           name="search" (click)="openSearch()" id="searchbox"/>
                    <button class="btn btn-success" type="button">Search</button>
                    <input class="form-control mr-sm-2" [(ngModel)]="ProdName" disabled *ngIf="!flag" type="text" name="search" />
                    <div *ngIf="flag">
                        <div (click)="onselectProd(prod)" class="text-left search-items handtool" *ngFor="let prod of prodlist | async">
                            {{prod.Name}}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</nav>


<!-- wish Modal -->
<div class="modal fade" id="wishPop" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div *ngIf="wish.length==0" class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">your wishlist is empty !</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
        </div>
        <div *ngIf="wish.length>0" class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title">Wishlist</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div *ngFor="let prod of wish;let index=index" class="row">
                        <div class="col-md-6">
                            <a href="#" class="product-image">
                                <img src="{{prod.ProductImage}}">
                            </a>
                        </div>
                        <div class="col-md-6 text-center">
                            <a href="#">{{prod.ProductName}}</a>
                            <br />
                            <strong class="price">
                                {{prod.ProductPrice | currency:'INR':'symbol'}}

                            </strong>
                            <div>
                                <button (click)="removeFromWish(prod)" class="checkout-button">REMOVE</button>
                            </div>
                        </div>
                        <div class="clear"></div>
                        <hr class="h-line" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="checkout-button">View wishlist</button>
                <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
            </div>
        </div>
    </div>
</div>

<!-- cart Modal -->
<div id="cartPop" class="modal fade" role="dialog" tabindex="-1">

    <div class="modal-dialog">
        <div *ngIf="cart.length==0" class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">your cart is empty !</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
        </div>
        <!-- Modal content-->
        <div *ngIf="cart.length>0" class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title">Cart</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div *ngFor="let prod of cart;let index=index" class="row">
                        <div class="col-md-6">
                            <a [routerLink]="['/productdetails',prod.ProductID]" href="#" class="product-image">
                                <img src="{{prod.ProductImage}}">
                            </a>
                        </div>
                        <div class="col-md-6 text-center">
                            <a [routerLink]="['/productdetails',prod.ProductID]" href="#">{{prod.ProductName}}</a>
                            <br />
                            <strong class="price">
                                {{prod.ProductPrice| currency:'INR':'symbol'}}
                                <i class="fa fa-remove"></i>
                                {{prod.CartCount}}
                                &rarr;
                                {{prod.ProductPrice * prod.CartCount | currency:'INR':'symbol'}}
                            </strong>
                            <div>
                                <button (click)="removeFromCart(prod,0)" class="checkout-button">REMOVE</button>
                            </div>
                        </div>
                        <div class="clear"></div>
                        <hr class="h-line" />
                    </div>

                    <div class="row">
                        <div class="col-12 text-left">
                            <strong>Total:{{cartSum | currency:'INR':'symbol'}}</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="checkout-button" (click)="gocart()">View Cart</button>
                <button class="checkout-button" type="button">Checkout</button>
                <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
            </div>
        </div>

    </div>
</div>


