<!-- Modal -->
<div id="loginModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">

                <h4 *ngIf="_miscServ.getLoginPopupStatus()" class="modal-title">Signin</h4>
                <h4 *ngIf="!_miscServ.getLoginPopupStatus()" class="modal-title">Signup</h4>
                
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" *ngIf="_miscServ.getLoginPopupStatus()">
                <form novalidate (ngSubmit)="login()" [formGroup]="loginForm">
                    <!--<div *ngIf="_miscServ.getLoginStatus" class="alert alert-danger">
                        <strong>Please login.</strong>
                    </div>-->
                    <div class="form-group">
                        <input type="text" id="email" class="form-control" required formControlName="email">
                        <label class="form-control-placeholder" for="email">Name</label>
                        <span class="help-block" *ngIf="(loginForm.get('email').dirty) &&
                                                loginForm.get('email').errors">
                            <span *ngIf="loginForm.get('email').errors.required">
                                Please enter your email address.
                            </span>
                        </span>
                    </div>
                    <div class="form-group">
                        <input type="password" id="password" class="form-control" required formControlName="password">
                        <label class="form-control-placeholder" for="password">Phone Number</label>

                        <span class="help-block" *ngIf="(loginForm.get('password').dirty) &&
                                                                    loginForm.get('password').errors">
                            <span *ngIf="loginForm.get('password').errors.required">
                                Please enter password
                            </span>
                        </span>
                    </div>

                    <button type="submit" class="btn btn-dark">Login</button>
                    <div class="forgot login-footer">
                        <span>
                            Looking to
                            <a href="javascript:void(0);" (click)="_miscServ.changeLoginPopupStatus()">create an account</a>
                            ?
                        </span>
                    </div>
                    <br />
                    <div *ngIf="statusMessage" class="alert alert-success"><strong>{{statusMessage}}</strong></div>
                </form>
            </div>
            <div class="modal-body" *ngIf="!_miscServ.getLoginPopupStatus()">
                <register-popup></register-popup>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>

    </div>
</div>