<div class="main-container">


    <div class="ac-addr-add-box">
        <div class="add-address">
            <img src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxMiAxMiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGZpbGw9IiMyMTc1RkYiIGQ9Ik0xMS4yNSA2Ljc1aC00LjV2NC41aC0xLjV2LTQuNUguNzV2LTEuNWg0LjVWLjc1aDEuNXY0LjVoNC41Ii8+PHBhdGggZD0iTS0zLTNoMTh2MThILTMiLz48L2c+PC9zdmc+" />
            ADD A NEW ADDRESS
        </div>
    </div>
    <ng-container *ngIf="useraddress">


        <div class="ac-addr-box" *ngFor="let addr of useraddress">
            <div class="row add-type-box">
                <div class="col-md-11">
                    <span class="add-type">{{addr.AddressType}}</span>
                </div>
                <div class="col-md-1">
                    
                    <div class="dropdown">
                        <a class="btn btn-info dropdown-toggle" href="javascript:void(0)"
                           id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        </a>

                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="#">Edit</a>
                            <a class="dropdown-item" href="#">Delete</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="add-name">
                <strong>{{addr.Title + ' ' + addr.FirstName}}</strong>
                <strong>{{addr.PhoneNumber}}</strong>

            </div>
            <div class="add-line">
                <p class="">{{addr.AddressLine1}},{{addr.AddressLine2}},{{addr.City +' - '+ addr.PostalCode}},{{addr.State}}</p>
            </div>
        </div>
    </ng-container>
</div>
<div class="container">


   
</div>