<div class="main-container text-center" *ngIf="!access_token">
    <div class="jumbotron">
        <h3>Looks like you are not logged in.</h3>
    </div>
</div>

<div class="main-container" *ngIf="access_token">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-md-4">
            <div class="ac-box">
                <i class="fa fa-user-circle fa-4x"></i>
                <span class="text-center">
                    {{user.FirstName}}
                </span>
            </div>
            <div class="ac-box text-capitalize">
                <div [routerLink]="['/account/basicinfo']" routerLinkActive="ac-action-active" class="ac-actions">
                    <a>Account Details</a>
                </div>
                <div [routerLink]="['/account/address']" routerLinkActive="ac-action-active" class="ac-actions">
                    <a>Address</a>
                </div>
                <div [routerLink]="['/account/orders']" routerLinkActive="ac-action-active" class="ac-actions">
                    <a>Orders</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <router-outlet></router-outlet>
        </div>
        <div class="col-1"></div>
    </div>
    </div>