

.ac-img {
    width: 50px;
    height: 50px;
}

.ac-actions {
    /*border-bottom: 1px solid gray;*/
    cursor: pointer;
    font-size:large;
    text-align:left;
    font-weight:bold;
    padding:5%;
    border-bottom:.5px solid rgba(0, 0, 0, .08);
    margin:0;
    width:100%;
    
}
/*.ac-actions a{
    padding-left:10%;
}*/

    .ac-actions:hover {
        color: #ad9268;
    }
    .ac-actions a:active{
        text-decoration:none!important;
    }
.ac-action-active {
    background-color: #d0d0d0;
}
.ac-addr-box {
    border: solid 1px #e0e0e0;
    background: #fff;
    border-radius: 2px;
}
.ac-addr-add-box {
    border: solid 1px #e0e0e0;
    background: #fff;
    border-radius: 2px;
    margin-bottom: 30px;
}
.add-address {
    font-size: 14px;
    color: #2874f0;
    font-weight: 500;
    padding: 16px 0;
    cursor: pointer;
    text-align:center;
}
.edit-box {
    z-index: 1;
    white-space: nowrap;
    display: none;
    position: absolute;
    font-size: 14px;
    color: #878787;
    border: 1px solid rgba(0, 0, 0, .05);
    box-shadow: 0 6px 6px 0 rgba(0, 0, 0, .12), 0 1px 3px 0 rgba(0, 0, 0, .18);
    right: 23px;
    padding: 5px;
    border-radius: 3px;
    top: 10px;
}
.edit-box-item {
    padding: 7px 12px;
    color: #212121;
}

.form-group {
    position: relative;
    margin-bottom: 1.5rem;
}

.form-control-placeholder {
    position: absolute;
    top: 0;
    padding: 7px 0 0 13px;
    transition: all 200ms;
    opacity: 0.5;
}

.form-control:focus + .form-control-placeholder,
.form-control:valid + .form-control-placeholder {
    font-size: 75%;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    opacity: 1;
}

